.rotating-box {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    perspective: 800px;
}

.single-rb {
    width: 150px;
    animation: rotate 15s linear infinite;
    transform-style: preserve-3d;
    margin-top: 60px;
}

.single-rb img {
    height: 150px;
    width: 150px;
}

.single-rb div {
    position: absolute;
    width: 150px;
    height: 150px;
}

.front-side {
    transform: translateZ(75px);
}

.back-side {
    transform: rotateY(180deg) translateZ(75px);
}
.left-side {
    transform: rotateY(-90deg) translateX(-75px);
    transform-origin: left;
}
.right-side {
    transform: rotateY(90deg) translateX(75px);
    transform-origin: right;
}
.top-side {
    transform: rotateX(-90deg) translatey(-75px);
    transform-origin: top;
}
.bottom-side {
    transform: rotateX(90deg) translateY(75px);
    transform-origin: bottom;
}
@keyframes rotate {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}
